/*General*/
* {
  font-family: "Source Sans Pro", sans-serif;
  color: #333;
}

h1, h4{
  text-transform: uppercase;
  margin: 8px 0;
  font-weight: 200;
}

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

/*Header*/
.logo {
  max-height: 78px;
  padding: 8px 15px;
}

/*Banner*/
.Banner {
  border-top: 2px solid #999;
  max-width: 100%;
  padding: 10px 0 0 0;
}

/*Portfolio*/
#portfolio-title {
  font-weight: 400;
}

.project {
  margin: 0 0 15px 0;
}

.project img{
  max-width: 100%;
}

/*Footer*/
.footnote {
  border-top: 2px solid #999;
  padding: 5px 0 0 0;
  margin: 10px 0 0 0;
}
